body {
	background-color: @brand-grey-light;
	border-top: 15px solid @navbar-default-bg;
	background: @brand-grey-light url('../img/error-bg.png') no-repeat center -50px;
}

.simp-logo {
	.hide-text();
	display: block;
	width: 180px;
	height: 60px;
	margin: 15px 0 @padding-large-vertical;
	.density-bg-img(180px, 60px, 0, 0,
		'../img/logo-simp-en-ldpi.png',
		'../img/logo-simp-en.png',
		'../img/logo-simp-en-hdpi.png',
		'../img/logo-simp-en-xhdpi.png',
		'../img/logo-simp-en-xxhdpi.png');
}