#footer {
	color: @grayLight;
	//background-color: @gray;
	padding: 20px 0;
	margin-top: 40px;
	border-top: 1px solid @grayLighter;
	@media (max-width: 767px) {
		padding: 20px;
		margin: 40px -20px 0;
	}
	ul {
		margin: 0;
		font-size: @fontSizeSmall;
	}
	.inline li:first-of-type {
		padding-left: 0;
	}
	.disclaimer {
		font-size: @fontSizeSmall;
	}
}