@brand-grey-light: #ecf0f1;

// Course category colors
@category-area-1: #736592;
@category-area-2: #AF4B67;
@category-area-3: #329490;
@category-uni-req: #88673E;
@category-e: #76818B;

// Grade colors
@grade-ap: #1aaa1a;
@grade-a: #40a916;
@grade-am: #66a811;
@grade-bp: #8da70d;
@grade-b: #b3a509;
@grade-bm: #d9a404;
@grade-cp: #ffa300;
@grade-c: #f87d03;
@grade-cm: #f15705;
@grade-d: #e93008;
@grade-f: #e20a0a;
@grade-dropped: @gray-light;

// Comment
@card-color-strip-width: 8px;